.*
!deps/**/.*
!.devcontainer/
!.devcontainer/.devcontainer.json
!test/fixtures/**/.*
!.clang-format
!.cpplint
!.editorconfig
!.eslintignore
!.eslintrc.js
!.eslintrc.yaml
!.gitattributes
!.github
!.gitignore
!.gitkeep
!.gitpod.yml
!.mailmap
!.nycrc
!.yamllint.yaml
/core
/vgcore.*
/v8*.log
/perf.data
/perf.data.old
/tags
/doc/api.xml
/node
/node_g
/gon-config.json
/*.exe
/*.swp
/out
/*.msi
/*.wixpdb
/*.qlog
/pythonenv*
/icu_config.gypi
/config.gypi
/config.status
/config_fips.gypi
Debug/
Release/
*.sln
*.suo
*.vcxproj*
UpgradeLog*.XML
_UpgradeReport_Files/
*.sdf
*.opensdf
*.VC.*
*.wixobj
/tools/msvs/genfiles/
/npm.wxs
/corepack.wxs
/tools/msvs/msi/**/Release/
/tools/msvs/msi/**/obj/
/tools/msvs/msi/**/x64/
!tools/msvs/msi/**/custom_actions.vcxproj
!tools/msvs/msi/**/nodemsi.sln
*-nodegyp*
/gyp-*-tool
/test/addons/??_*/
/*.mk
/email.md
/deps/v8-*
/deps/icu
/deps/icu*.zip
/deps/icu*.tgz
/deps/icu-tmp
./node_modules
/android-toolchain/
/deps/openssl/openssl.props
/deps/openssl/openssl.targets
/deps/openssl/openssl.xml
/deps/openssl/openssl-fipsmodule.props
/deps/openssl/openssl-fipsmodule.targets
/deps/openssl/openssl-fipsmodule.xml
/*.target.mk
/*.host.mk
/deps/openssl/openssl.target.mk
/deps/zlib/zlib.target.mk
tools/*/*.i
tools/*/*.i.tmp
/*.tar.*
/*.pkg
/SHASUMS*.txt*
!**/node_modules/**
/node_modules
/tools/doc/node_modules
/tools/clang-format/node_modules
/*.tap
/*.xml
/v8*-tap.json
/node_trace.*.log
/gcovr
/build
/coverage
*.xcodeproj
*.xcworkspace
*.pbxproj
!/deps/npm/node_modules
/deps/npm/node_modules/.bin/
!deps/v8/**
/deps/uv/docs/code/
/deps/uv/docs/src/guide/
/deps/**/.github/
/deps/.cipd
/temp-vcbuild
cmake-build-debug/
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
*.cbp
*.pyc
__pycache__
.DS_Store
*~
compile_commands.json
.env